*{
  scroll-behavior: smooth;
}
body{
  background-color: rgb(0, 0, 0);
}

.header{
  background-color: #000000;
  text-align: center;
}

.banner-inicio{
  background-color: #111111;
  width: 100%;
}

.seccion1{
  background-color: #52b687;
  width: 100%;
}

.scaracteristicas{
  background-color: #111111;
  width: 100%;
}

.seccion1{
  background-color: #111111;
  width: 100%;
}

.footer{
  background-color: #000000;
  color: white;
}
