*{
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Circular Black";
  src: url("./fuentes/CircularStd-Black.otf");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("./fuentes/BebasNeue\ Light.otf");
}

.body{
  background-color: rgb(0, 0, 0);
}

.header{
  background-color: #00000000;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 5px;
}

.header img{
  width: 150px;
}

.banner-inicio{
  background-color: #111111;
  width: 100%;
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.links a{
  opacity: 100%;
  color: white;
  transition: 0.5s;
}

.links a:hover{
  color: #52b687;
}

.header li:not(:first-child){
  margin-left: 10rem;
}

.seccion1{
  background-color: #52b687;
  width: 100%;
}

.scaracteristicas{
  background-color: #111111;
  width: 100%;
}

.seccion1{
  background-color: #111111;
  width: 100%;
}

.footer{
  background-color: #000000;
  color: white;
}
