*{
  scroll-behavior: smooth;
}

/* TIPOGRAFIAS */

@font-face {
  font-family: "Circular Black";
  src: url("./fuentes/CircularStd-Black.otf");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("./fuentes/BebasNeue\ Light.otf");
}

.body{
  background-color: #111111;
  overflow-x: hidden;
}

/* HEADER */

.header{
  background-color: #111111;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 5px;
}

.header img{
  width: 150px;
  margin-bottom: 1%;
  margin-left: 1%;
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.links a{
  opacity: 100%;
  color: white;
  transition: 0.5s;
}

.links a:hover{
  color: #52b687;
}

.header li:not(:first-child){
  margin-left: 10rem;
}

.header ul{
  padding: 1%;
}

/* BANNER INICIO */

.banner-inicio{
  background-color: #111111;
  width: 100%;
	height: 500px;
	background-image: url(./img/Reloj1_Mesa\ de\ trabajo\ 1.png);
	background-size: 500px;
  background-position-x: 110%;
  background-position-y: 70px;
  background-repeat: no-repeat;
  color: white;
  position: fixed;
  top: 50px;
}

.banner-inicio h2{
  padding-top: 120px;
  padding-left: 7%;
  font-size: 400%;
  font-family: "Circular Black";
}

.banner-inicio p{
  padding-top: 0%;
  padding-left: 7%;
  font-size: 300%;
  font-family: "Circular Black";
}

/* SECCION 1 */

.seccion1{
  background-color: #52b687;
  width: 100%;
  height: fit-content;
  position: relative;
  top: 450px;
  height:fit-content;
}

.seccion1 p{
  color: white;
  font-size: 140%;
  padding-right: 12%;
  text-align: justify;

}

.seccion1 a{
  margin-top: 5%;
  text-align: center;
  justify-content: center;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: white;
  color: #52b687;
  border-radius: 0px;
  font-size: 25px;
  font-family: "Circular Black";
}

.seccion1 a:hover{
  background-color: #ffffffd3;
  color: #52b687;
}

.seccion1 img{
  width: 400px;
  padding-top: 14%;
  padding-bottom: 14%;
  padding-left: 15%;
  padding-right: 8%;
}

/* CARACTERISTICAS */

.container-caracteristicas{
  padding: 0;
  margin-left: -7%;
}

.caracteristicas{
  width: 100%;
  background-color: #111111;
  background-image: url(./img/banner-caracteristicas_Mesa\ de\ trabajo\ 1.jpg);
  background-size: 90%;
  object-fit: cover;
  height: 850px;
  position: relative;
  background-repeat: no-repeat;
  background-position-x: 40%;
  background-position-y: -20%;
  top:450px;
}

.caracteristicas img{
  margin-top: 11%;
  margin-left: 40%;
  width: 25%;
  
}

.texto-caracteristicas{
  background-color: #52b687;
  width: 40%;
  height: fit-content;
  text-align: center;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-left: 32%;
}

.texto-caracteristicas h2{
  color: #111111;
  padding: 5%;
  font-size: 300%;
  font-family: "Circular Black";
  text-align: center;
}

/* RECICLAR */

.seccion2{
  background-color: #111111;
  width: 100%;
  height: 1000px;
  top: 400px;
  position: relative;
  display: flex;
}

.titulo{
  width: 25%;
  font-size: 150px;
  color: #52b687;
  font-family: "Circular Black";
  margin-left: 40px;
  margin-top: 10px;
  line-height: 200px;
}

.seccion2 p{
  font-size: 50px;
  color: #ffffff;
  font-family: "Circular Black";
  margin-left: 100px;
}

.fondo-verde p:first-child
{
  margin-top: 150px;
}

.fondo-verde p:not(:first-child)
{
  margin-top: 50px;
}

.fondo-verde{
  width: 1000px; 
  height: 700px; 
  background: #52b687;
  position: absolute;
  right: 0px;
  left: auto;
  border-top-left-radius: 100px;
}

/* COMPRAR */

.container-productos{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.contenido{
  display: flex;
}

.carta{
  width: 43%;
  height: fit-content;
  background-color: #52b687;
  margin-top: 190px;
  border-radius: 20px;
  padding-bottom:20px;
}
.columna-textos{
  width: 50%;
}

.columna-imagen{
  width: 40%;
}

.carta h2{
  margin-top: 10px;
  color: white;
  font-size: 300%;
  margin-left: 20px;
  font-family: "Circular Black";
}

.carta p{
  color: #111111;
  font-size: 150%;
  margin-left: 20px;
  font-family: "Circular Black";
}

.carta h6{
  color: #1b4332;
  font-size: 100%;
  margin-left: 20px;
  font-family: "Circular Black";
  text-align: left;
  padding-bottom: 10px;
}

.carta img{
  width: 110%;
  height: auto;
  margin-top: 40px;
  margin-right: 0;
  margin-left: 10px;
}

.boton-compra{
  background-color: #111111;
  color: white;
  padding:10px 80px;
  text-decoration: none;
  border-radius: 10px;
  font-family: "Circular Black";
  margin-left: 20px;
  margin-top: 30px;
  font-size: 20px;
  transition: 0.3s;
  margin-bottom: 20px;
}

.boton-compra:hover{
  background-color: #1f1f1f;
  color: white;
  cursor: pointer;
}

@media (max-width: 1000px)
{
  .carta{
    width: 60%;
  }
}

@media (max-width: 900px)
{
  .carta{
    width: 95%;
  }
}


@media (max-width: 800px)
{
  .carta:not(:last-child){
    width: 95%;
    margin-top: 30%;
  }

  .carta:not(:first-child){
    width: 95%;
    margin-bottom: 20px;
    margin-top: 10%;
  }

  .carta h2{
    font-size: 200%;
  }

  .carta p{
    font-size: 100%;
  }

  .carta h6{
    font-size: 70%;
  }

  .carta img{
    margin-top: 40px;
  }

  .columna-textos{
    width: 48%;
  }

  .columna-imagen{
    height: 200px;
  }

  .boton-compra{
    background-color: #111111;
    color: white;
    padding:10px 80%;
    text-decoration: none;
    border-radius: 10px;
    font-family: "Circular Black";
    margin-top: 30px;
    font-size: 20px;
    transition: 0.3s;
    margin-bottom: 20px;
  }
}

/* DETALLE PRODUCTO */

.boton-volver{
  color: #133024;
  text-decoration: none;
  margin-left: 20px;
  font-family: "Circular Black";
  margin-top: 10px;
  font-size: 20px;
}

.boton-volver:hover{
  color: #1b4332;
}

.carta-detalle{
  width: 1400px;
  height: fit-content;
  background-color: #52b687;
  margin-top: 100px;
  border-radius: 20px;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 100px;
  margin-bottom: 20px;
}

.carta-detalle h2{
  margin-top: 10px;
  color: white;
  font-size: 300%;
  margin-left: 20px;
  font-family: "Circular Black";
}

.carta-detalle p{
  color: #111111;
  font-size: 150%;
  margin-left: 20px;
  font-family: "Circular Black";
}

.carta-detalle h6{
  color: #1b4332;
  font-size: 100%;
  margin-left: 20px;
  font-family: "Circular Black";
  text-align: left;
  padding-bottom: 10px;
}

.carta-detalle h5{
  color: #111111;
  font-size: 100%;
  margin-left: 20px;
  font-family: "Circular Black";
  text-align: left;
  padding-bottom: 10px;
}

.carta-detalle h3{
  color: #530a0a;
  font-size: 150%;
  margin-left: 20px;
  font-family: "Circular Black";
  margin-top: 20px;
}

.imagen-producto{
  width: 20%;
  height: auto;
  margin-top: 20px;
  position: absolute;
  right: 40px;
  transition: 0.5s;
}

.imagen-producto:hover{
  width: 23%;
  height: auto;
  margin-top: 20px;
  position: absolute;
  right: 40px;
}

.boton-compra-detalles{
  position: absolute;
  background-color: #ffffff;
  color: #111111;
  padding-top:10px;
  padding-bottom:10px;
  padding-left: 30px;
  padding-right: 40px;
  text-decoration: none;
  border-radius: 10px;
  font-family: "Circular Black";
  margin-left: 20px;
  margin-top: 15px;
  font-size: 30px;
  transition: 0.3s;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boton-compra-detalles:hover{
  color: #111111;
  cursor: pointer;
}

.boton-compra-detalles img{
  width: 50px;
  height: auto;
  margin-top: 0;
  margin-left: 20px;
}
/* FOOTER */

footer{
  background-color: #000000;
  color: white;
  position: relative;
  width: 100%;
  height: fit-content;
}

footer ul{
  display: flex;
  list-style:none;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 60px;
}

footer a{
  text-decoration: none;
  color: #52b687;
  transition: 0.2s;
  font-family: "Circular Black";
  font-size: 20px;
}

footer h2{
  font-size: 50px;
  font-family: "Circular Black";
  text-align: center;
  color: #ffffff;
  padding-top: 30px;
}

footer p{
  font-size: 20px;
  text-align: center;
  color: #dadada;
  padding-top: 20px;
}

footer img{
  position: relative;
  width: 110px;
  left:50%;
  transform: translate(-50%);
  margin-top: 50px;
}

footer a:hover{
  color: #52b687;
  font-size: 23px;
}

footer svg{
  margin-right: 10px;
}

.copyright{
  margin-top: 40px;
  background-color: #1b4332;
  width: 100%;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* NOSOTROS */

.titulo-nosotros{
  margin-top: 120px;
  font-family: "Circular Black";
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-color: #52b687;
  padding: 20px;
  font-size: 80px;
  color: #111111;
  border-radius: 30px;
  text-align: center;
  width: 50%;
  margin-bottom: 100px;
}

.seccion-nosotros{
  margin-left: 40px;
  margin-bottom: 100px;
}

.seccion-nosotros h3{
  font-size: 60px;
  color: #52b687;
  font-family: "Circular Black";
}

.seccion-nosotros p{
  padding-top: 20px;
  font-size: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.seccion-nosotros:last-child{
  margin-bottom: 40px;
}

.seccion-nosotros hr{
  padding-top: 5px;
  font-size: 10px;
  color: #52b687;
  width: 50%;
  opacity: 100%;
}
/* LINKS HEADER */

@media (max-width: 1200px)
{
  .header li:not(:first-child){
    margin-left: 8rem;
  }
}

@media (max-width: 1110px)
{
  .header li:not(:first-child){
    margin-left: 6rem;
  }
}

@media (max-width: 1020px)
{
  .header li:not(:first-child){
    margin-left: 4rem;
  }
}

@media (max-width: 991px)
{
  .header li:not(:first-child){
    margin-left: 0rem;
  }

  .links{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
  }

  .links ul{
    margin-top: 5%;
    padding-bottom: 2%;
  }
}

/* LOGO HEADER */

@media (max-width: 991px)
{
  .header img{
    position: relative;
    left:50%;
    top:15%;
    transform: translate(-50%, 0%);
  }
}