*{
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Circular Black";
  src: url("./fuentes/CircularStd-Black.otf");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("./fuentes/BebasNeue\ Light.otf");
}

.body{
  background-color: #111111;
}

.header{
  background-color: #111111;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 5px;
}

.navbar img{
  width: 150px;
}

.banner-inicio{
  background-color: #111111;
  width: 100%;
	height: 500px;
	background-image: url(./img/Reloj1_Mesa\ de\ trabajo\ 1.png);
	background-size: 500px;
  background-position-x: 110%;
  background-position-y: 70px;
  background-repeat: no-repeat;
  color: white;
  position: fixed;
  top: 50px;
}

.banner-inicio h2{
  padding-top: 120px;
  padding-left: 7%;
  font-size: 400%;
  font-family: "Circular Black";
}

.banner-inicio p{
  padding-top: 0%;
  padding-left: 7%;
  font-size: 300%;
  font-family: "Circular Black";
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.links a{
  opacity: 100%;
  color: white;
  transition: 0.5s;
}

.links a:hover{
  color: #52b687;
}

.header li:not(:first-child){
  margin-left: 10rem;
}

.seccion1{
  background-color: #52b687;
  width: 105%;
  height: fit-content;
  position: relative;
  top: 450px;
  height:fit-content;
}

.seccion1 p{
  color: white;
  font-size: 140%;
  padding-right: 12%;
  text-align: justify;

}

.seccion1 a{
  margin-top: 5%;
  text-align: center;
  justify-content: center;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: white;
  color: #52b687;
  border-radius: 0px;
  font-size: 25px;
  font-family: "Circular Black";
}

.seccion1 a:hover{
  background-color: #ffffffd3;
  color: #52b687;
}

.seccion1 img{
  width: 400px;
  padding-top: 14%;
  padding-bottom: 14%;
  padding-left: 15%;
  padding-right: 8%;
}

.container-caracteristicas{
  padding: 0;
  margin-left: -7%;
}

.caracteristicas{
  width: 105%;
  background-color: #111111;
  background-image: url(./img/banner-caracteristicas_Mesa\ de\ trabajo\ 1.jpg);
  background-size: 90%;
  object-fit: cover;
  height: 850px;
  position: relative;
  background-repeat: no-repeat;
  background-position-x: 40%;
  background-position-y: -20%;
  top:450px;
}

.caracteristicas img{
  margin-top: 11%;
  margin-left: 40%;
  width: 25%;
  
}

.texto-caracteristicas{
  background-color: #52b687;
  width: 40%;
  height: fit-content;
  text-align: center;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-left: 32%;
}

.texto-caracteristicas h2{
  color: #111111;
  padding: 5%;
  font-size: 300%;
  font-family: "Circular Black";
  text-align: center;
}

.seccion2{
  background-color: #111111;
  width: 100%;
  height: 1000px;
  position: relative;
}

.footer{
  background-color: #000000;
  color: white;
}
