*{
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Circular Black";
  src: url("./fuentes/CircularStd-Black.otf");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("./fuentes/BebasNeue\ Light.otf");
}

.body{
  background-color: #111111;
}

.header{
  background-color: #111111;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 5px;
}

.navbar img{
  width: 10%;
}

.banner-inicio{
  background-color: #111111;
  width: 100%;
	height: 500px;
	background-image: url(./img/Reloj1_Mesa\ de\ trabajo\ 1.png);
	background-size: 500px;
  background-position-x: 110%;
  background-position-y: 70px;
  background-repeat: no-repeat;
  color: white;
  position: fixed;
  top: 50px;
}

.banner-inicio h2{
  padding-top: 120px;
  padding-left: 7%;
  font-size: 400%;
  font-family: "Circular Black";
}

.banner-inicio p{
  padding-top: 0%;
  padding-left: 7%;
  font-size: 300%;
  font-family: "Circular Black";
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.header li:not(:first-child){
  margin-left: 10rem;
}

.seccion1{
  background-color: #52b687;
  width: 100%;
  height: 500px;
  position: relative;
  top: 450px;
}

.caracteristicas{
  background-color: #111111;
  width: 100%;
}

.seccion2{
  background-color: #111111;
  width: 100%;
}

.footer{
  background-color: #000000;
  color: white;
}
